include README.rst
include CHANGES.rst
include CONTRIBUTORS.rst
include Makefile
include .coveragerc
include .pylintrc
{% if cookiecutter.open_source_license != 'Not open source' -%}include LICENSE{% endif %}

exclude .python-version
exclude .editorconfig
exclude .github
exclude requirements
exclude requirements.txt

prune docs/_build
prune docs/_themes

recursive-include tests *
recursive-include docs *

recursive-exclude *.pyc *.pyo .DS_Store
recursive-exclude .github *
recursive-exclude requirements *.txt
