include LICENSE
include README.rst
include CHANGES.md
include CONTRIBUTORS.md
include CODE_OF_CONDUCT.md
include Makefile
include .coveragerc
include .pylintrc

exclude .python-version
exclude .editorconfig
exclude .github
exclude Pipfile

prune docs/_build
prune docs/_themes

recursive-include tests *
recursive-include docs *

recursive-exclude *.pyc *.pyo .DS_Store
recursive-exclude .github *
recursive-exclude requirements *.txt
