# EditorConfig: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Defaults for all filetypes
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# File specific options follow
[*.py]
max_line_length = 119

[*.rst]
indent_size = 3

[*.md]
trim_trailing_whitespace = false

[{Makefile,*.bat}]
indent_style = tab
