# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# Set the default line length for python to 119
[*.py]
max_line_length = 119

# ReStructuredText files use 3 spaces
[*.rst]
indent_size = 3

# Markdown files should not trim whitespace and use two spaces
[*.md]
indent_size = 2
trim_trailing_whitespace = false

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

# Batch files use tabs for indentation
[*.bat]
indent_style = tab
